In [ ]:
%pip install pandas
%pip install opencv-python

In [5]:
import pandas as pd
import cv2
import os
import numpy as np

In [2]:
fer2013_df = pd.read_csv("../../data/raw/fer2013/fer2013.csv", index_col=False)
fer2013_df["image_name"] = ""
fer2013_df.rename(columns={"emotion" : "expression_label"}, inplace=True)
fer2013_df.drop(columns="Usage", inplace=True)

fer2013_df.head()

,expression_label,pixels,image_name
0,0,70 80 82 72 58 58 60 63 54 58 60 48 89 115 121...,
1,0,151 150 147 155 148 133 111 140 170 174 182 15...,
2,2,231 212 156 164 174 138 161 173 182 200 106 38...,
3,4,24 32 36 30 32 23 19 20 30 41 21 22 32 34 21 1...,
4,6,4 0 0 0 0 0 0 0 0 0 0 0 3 15 23 28 48 50 58 84...,

In [3]:
expression_labels = {
    0: "Angry",
    1: "Disgust",
    2: "Fear",
    3: "Happy",
    4: "Sad",
    5: "Surprise",
    6: "Neutral",
}

In [4]:
for index, row in fer2013_df.iterrows():
    expression = expression_labels.get(row["expression_label"]).lower()
    fer2013_df.loc[index, "expression_label"] = expression
    fer2013_df.loc[index, "image_name"] = str(expression +"_" + str(index) + ".jpg")


fer2013_df["expression_label"] = fer2013_df["expression_label"].astype("category")

fer2013_df.head()

C:\Users\pedro\AppData\Local\Temp\ipykernel_40132\141201357.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'angry' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  fer2013_df.loc[index, "expression_label"] = expression

,expression_label,pixels,image_name
0,angry,70 80 82 72 58 58 60 63 54 58 60 48 89 115 121...,angry_0.jpg
1,angry,151 150 147 155 148 133 111 140 170 174 182 15...,angry_1.jpg
2,fear,231 212 156 164 174 138 161 173 182 200 106 38...,fear_2.jpg
3,sad,24 32 36 30 32 23 19 20 30 41 21 22 32 34 21 1...,sad_3.jpg
4,neutral,4 0 0 0 0 0 0 0 0 0 0 0 3 15 23 28 48 50 58 84...,neutral_4.jpg

In [9]:
processed_folder_path = "../../data/processed/fer2013/cropped/"
if not os.path.exists(processed_folder_path):
    os.makedirs(processed_folder_path)
for index, row in fer2013_df.iterrows():
    image_string = row["pixels"].split(" ")
    image_data = np.asarray(image_string, dtype=np.uint8).reshape(48, 48)
    cv2.imwrite(os.path.join(processed_folder_path, row["image_name"]),image_data)

# Combine FER2013 with EXPW